<!DOCTYPE html>
<html>

<head>
    <title>Bookings</title>
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/Us7QXuQ.jpeg">
</head>
<body>
    <center>
        <h1>Booking</h1>

        <form method="post">
            <div class="form-group">
                <div class="form-floating mb-3">
                    <label for="cid">Customer Id</label>
                    <input type="text" name="cid" placeholder="030" class="form-control"
                        value="{{ request.form['cid'] }}" autofocus></input>
                </div>
                <div class="form-floating mb-3">
                    <label for="checkin">Check in date</label>
                    <input type='text' name="checkin" placeholder="2022-05-11 || YYYY-MM-DD" class="form-control"
                        value="{{ request.form['checkin'] }}" autofocus></input>
                </div>
                <div class="form-floating mb-3">
                    <label for="checkout">Check out date</label>
                    <input type='text' name="checkout" placeholder="2022-05-12 || YYYY-MM-DD" class="form-control"
                        value="{{ request.form['checkout'] }}" autofocus></input>
                </div>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-lg btn-primary">Add Data</button>
            </div>
        </form>
        {% if prin %}
            <hr>
            <span>{{ prin }}</a></span>
        {% endif %}
    </center>


</body>

</html>