<!DOCTYPE html>
<html>
    <head>
        <title>Hotel Main page</title>
        <link rel="icon" type="image/x-icon" href="https://i.imgur.com/Us7QXuQ.jpeg">
    </head>
<body>
    <center>
        <h1>Hotel Management System</h1>

        <style>
            a:link,
            a:visited {
                background-color: #f44336;
                color: white;
                padding: 14px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
            }

            a:hover,
            a:active {
                background-color: red;
            }
        </style>
        <p>Click below to add Customer Details.</p>
        <a href="/hotel/customerdetails">Customer Details</a>

        <p>Click below to use Booking.</p>
        <a href="/hotel/booking">Booking</a>

        <p>Click below to use Room Rent service</p>
        <a href="/hotel/roomrent">Room Rent</a>

        <p>Click below to use Restaurant service</p>
        <a href="/hotel/restaurant">Restaurant</a>

        <p>Click below to get Data of a customer</p>
        <a href="/hotel/showrecord">Data</a>

        <p>Click below to get Total bill</p>
        <a href="/hotel/total">Total</a>

        <p>Click below to Delete data</p>
        <a href="/hotel/delete">delete</a>

    </center>
</body>
</html>