<!DOCTYPE html>
<html>
<head>
    <title>Home page</title>
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/Us7QXuQ.jpeg">
</head>
<body>
    <center>
        <h1>Url Shortner, Hotel Management System</h1>

        <style>
            a:link,
            a:visited {
                background-color: #f44336;
                color: white;
                padding: 14px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
            }

            a:hover,
            a:active {
                background-color: red;
            }
        </style>
        <p>Click below to use url Shortner.</p>
        <a href="/shortner">Url Shorten</a>

        <p>Click below to use Hotel Management Sytem.</p>
        <a href="/hotel">Hotel Management</a>
    </center>
</body>
</html>