<!DOCTYPE html>
<html>
    <head>
        <title>Url Shorten</title>
        <link rel="icon" type="image/x-icon" href="https://i.imgur.com/Us7QXuQ.jpeg">
    </head>

<body>
    <center>
        <h1>URL SHORTNER</h1>

        <form method="post">
            <div class="form-group">
                <div class="form-floating mb-3">
                    <label for="url">URL</label>
                    <input type="text" name="url" placeholder="https://google.com" class="form-control"
                        value="{{ request.form['url'] }}" autofocus></input>
                </div>
                <div class="form-floating mb-3">
                    <label for="custom">CUSTOM SHORT ID</label>
                    <input type='text' name="custom" placeholder="google" class="form-control"
                        value="{{ request.form['custom'] }}" autofocus></input>
                </div>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-lg btn-primary">Shorten</button>
            </div>
        </form>
        {% if short_url %}
            <hr>
            <span><a href="{{ short_url }}">{{ short_url }}</a></span>
        {% endif %}
    </center>


</body>

</html>